<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <div class="menu">
        <a href="http://cytosine.nl/~owe4_pg14/wsgi_python/tool.wsgi/"><b><font color="#2f4f4f">Home</font></b></a>
        <a href="http://cytosine.nl/~owe4_pg14/wsgi_python/tool.wsgi/tabel"><b><font color="#2f4f4f">Tabel</a></font></b></a>
        <a href="http://cytosine.nl/~owe4_pg14/wsgi_python/tool.wsgi/blast"><b><font color="#2f4f4f">Blast</a></font></b></a>
        <a href="http://cytosine.nl/~owe4_pg14/wsgi_python/tool.wsgi/about"><b><font color="#2f4f4f">About</a></font></b></a>
 
    </div>
    <style>
        .menu{
            background-color: #D9E8F0;
            padding: 25px

        }
        .menu a{
            padding: 25px;
            background-color: #D9E8F0;
            text-align: center;
            font-size: 24px;
            border: black;
        }
        .menu a:hover {
            background-color: #bfced6;
            color: black;

    </style>

<p> Deze webapplicatie is ontwikkeld en ontworpen door Cas van Rijbroek, Sander Geurts en Lisa Kuipers

    Via de tabel pagina kan de gebruiker 3 zoekwoorden woorden invoeren met betrekking tot soort, eiwit naam en eiwit functie.
    Via de blast pagina kan er eventueel  nieuwe DNA sequenties geblast worden. De gegevens van de sequentie wordt weergegeven en de sequentie gegevens worden
    toegevoegd aan de databse en zullen te zien op de tabel pagina


    <p>
</body>
</html>
