<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="menu">
        <a href="http://cytosine.nl/~owe4_pg14/wsgi_python/tool.wsgi/"><b><font color="#2f4f4f">Home</font></b></a>
        <a href="http://cytosine.nl/~owe4_pg14/wsgi_python/tool.wsgi/tabel"><b><font color="#2f4f4f">Tabel</a></font></b></a>
        <a href="http://cytosine.nl/~owe4_pg14/wsgi_python/tool.wsgi/blast"><b><font color="#2f4f4f">Blast</a></font></b></a>
        <a href="http://cytosine.nl/~owe4_pg14/wsgi_python/tool.wsgi/about"><b><font color="#2f4f4f">About</a></font></b></a>
    </div>
    <div style="text-align: center">
        </header>
        <h1 style="font-size: 48pt">Welkom</h1>
        <p style="font-size: 20 pt">
    </div>
</body>

<style>
    .menu{
        background-color: #D9E8F0;
        padding: 25px
        }

    .menu a{
        padding: 25px;
        background-color: #D9E8F0;
        text-align: center;
        font-size: 24px;
        }

    .menu a:hover {
        background-color: #bfced6;
        color: black;
        }
</style>
</html>
